<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Accueil{% endblock %}</title>
        
        <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
        <meta name="keywords" content="">

        {% block stylesheets %} 
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/style.css">
            <link rel="stylesheet" href="/assets/css/icone.css">
            <link rel="stylesheet" href="/assets/css/layout.css">
        {% endblock %}

        {% block scriptStripe %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
            </script>    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/95aa5ef389.js" crossorigin="anonymous"></script>
        {% endblock %}
         
    </head>
    <body>
    
        <header>
            <nav class="navbar navbar-expand-lg navbar-ligth fixed-top"  id="idnav">
           
                <div class="container-fluid">
                    
                    <a class="logo" href="{{path('app_bac')}}"> <img src="{{asset('assets/img/imgastra.png')}}" alt="berry" class="imglogo"> </img> </a>
                
                    <div>
                        {% if app.user %} 
                            <a href="{{path('app_logout')}}" class="btn btn-secondary " >
                                Déconnexion
                            </a>
                        {% endif %}
                    <div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
